<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>List Products</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var deleteLink=$("a:contains('delete')");
            $(deleteLink).click(function (event){
               $.ajax({
                   url:$(event.target).attr("href"),
                   type:"GET",
                   beforeSend:function (xhr){
                       xhr.setRequestHeader("Accept","application/json");
                       xhr.setRequestHeader("Content-Type", "application/json");

                   },
                   success: function (product) {
                       var respContent = "";
                       var rowToDelete = $(event.target).closest("tr");
                       rowToDelete.remove();
                       respContent += "<span class='success'>Smartphone was deleted: [";
                       respContent += product.producer + " : ";
                       respContent += product.model + " : ";
                       respContent += smartproductphone.price + "]</span>";
                       $("#productFormResponse").html(respContent);
                   }
                   });
                event.preventDefault();
            });
        });

    </script>
</head>
<body>
<div id="container">
    <h1>All products</h1>
    <a th:href="@{/products/create}">Create</a>
    <div>
        <p>Here you can see a list of products:</p>
        <div id="productFormResponse"></div>
    </div>
    <table border="1px" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>Producer</th>
                <th>Model</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <th:block th:each="product:${products}">
            <tr>
                <td th:text="${product.producer}"></td>
                <td th:text="${product.model}"></td>
                <td th:text="${product.price}"></td>
                <td>
                    <a th:href="@{/products/edit/__${product.id}__}">Edit</a>
                    <a th:href="@{/products/delete/__${product.id}__}">Delete</a>

                </td>
            </tr>

        </th:block>
        </tbody>
    </table>
    <a th:href="@{/}">Home page</a>
</div>
</body>
</html>